<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Persona</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "website/css/style.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>

</head>

<body>
    <div class=wrapper>
        <div class=container-fluid>
            <div class=row>
                <div class=col-md-12>
                    <div class=page-header clearfix>
                        <h2 class=pull-left>Busqueda De Personas</h2>
                    </div>
                    <br>
                    <h2 class=pull-left>Personas Registradas</h2>
                    <br>
                    <table class='table table-bordered table-striped'>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Atributos</th>
                            </tr>
                        </thead>
                        {% block content %}
                        {% for object in persons %}
                        <tr>
                            <td> {{object.person_id}} </td>
                            <td> {{object.person_name}} </td>
                            <td> {{object.person_attributes}} </td>
                        </tr>
                        {%endfor%}
                        {% endblock %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>